# ignore filetypes
*.rick
*.log

# ignore filetypes
# tested using 'find * -size +1G | cat >> .gitignore' in folder
*.txt
*.zip
*.ta
*.rar
*.bed
*.vcf
*.tab
*.gen
*.results
*.bam
*.gz
*.bwt
*.fa
*.sa
*.gtf
*.bt2
*.2bit
*.pac
*.csv
*.rda
*.bim
